
    <form (ngSubmit)="onSubmit()" #todoForm="ngForm">
        <div class="form-group needs-validation">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="todo.name" name="name"
                 #name="ngModel">
        </div>
        <div class="form-group">
          <label for="contento">Content</label>
          <input type="text" class="form-control" id="content"
                 [(ngModel)]="todo.content" name="content" required #content="ngModel">
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!todoForm.form.valid">Submit</button>
      </form>
<br>
<div>
    <h3>Todo List</h3>
    <ul *ngIf="todos.length > 0; else addTodoBlock" class="list-group">

      <li class="list-group-item" *ngFor="let todo of todos">
        {{ todo.name }} : {{ todo.content}}  <button class="btn btn-danger float-right" (click)="deleteTodo(todo)">Delete <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg></button>
      </li>
    </ul>

    <ng-template #addTodoBlock>
      <h5 [style.text-align]="'center'">Add some todos to see them here!</h5>
    </ng-template>
  </div>